<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>UserManagement</display-name>
	<welcome-file-list>
		<welcome-file>UserLogin.jsp</welcome-file>
	</welcome-file-list>
	
	
	<servlet>
		<description></description>
		<display-name>UserLogin</display-name>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.usermanagement.controller.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/LoginURL</url-pattern>
	</servlet-mapping>
	
	


	<servlet>
		<description></description>
		<display-name>UserRegister</display-name>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>com.usermanagement.controller.UserRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/RegisterURL</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>ForgotPassword</display-name>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.usermanagement.controller.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/passwordURL</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>GenerateCSV</display-name>
		<servlet-name>GenerateCSV</servlet-name>
		<servlet-class>com.usermanagement.controller.GenerateCSV</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateCSV</servlet-name>
		<url-pattern>/getCSV</url-pattern>
	</servlet-mapping>

	



</web-app>